/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --burger-color: var(--white-co);
  --burger-active-color: var(--black-co);

  --body-co: #9C9C9C;
  --cta-btn-co: #3D96F4;
  --regular-btn-co : rgba(129, 129, 139, 0.2);
  --card-bg-co: hsla(240, 4%, 53%, 0.801);
}


