/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --burger-color: var(--white-co);
  --burger-active-color: var(--black-co);
  --body-text-co: #9C9C9C;
  --cta-btn-co: #3D96F4;
  --elemnt-bg-co : rgba(129, 129, 139, 0.2);
}


