<!-- Header -->
<header class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo"> 
                logo
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__item-link">Home</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">About us</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">Services</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">Blog</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">Contact us</a></li>
                </ul>
            </nav>
            <button class="burger">
                <span></span>
            </button>
        </div>
    </div>
</header>